@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.App {
  text-align: center;
}
html, body {
  width: 100%;
  height: 100%;
}

.App{
  background-color:#282c34;
  font-size: calc(10px + 2vmin);
  color: black;
  min-height: 100vh;
  min-width: 100vh;
  font-family: 'DM Serif Display', serif;
  
}
.main > div{
margin: 20px;
}


.main{
  display: flex;
  background-color: white;
  position: relative;
  top: 40px;
  flex-direction: row;
  align-items: center;
  margin-left: 450px;
  height: 90vh;
  width: 650px;
  justify-content: center;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.prof{
  width: 13%;
  height: 7px;
  padding: 50px 10px;
  background: rgb(92, 173, 92);
  position: absolute;
  top: 10px;
  right: 20px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-right: 200px;
  margin-bottom: 40px;
}
.op {
  width: 25%;
  height:120px;
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin-right: 200px;
  transition: transform .4s; 
  margin-bottom: 40px;
}

.op:hover{
  cursor: pointer;
  transform: scale(1.13); 
  opacity: 0.9;
}
#op1{
  background-color: #5cad5c;
}
#op2{
  background-color: rgb(92, 173, 92);
}

#op3{
   background-color: rgb(92, 173, 92);
}

#txt{
  position:absolute;
  top: 30px;
  left: 50px;
  font-size: 38px;
}

.navbar{
  position: absolute;
  top: 510px;
  width: 550px;
  height: 56px;
  background-color: #5cad5c;
  border-radius: 50px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  
}

.prof:hover{
    cursor: pointer;
}

.im1{
  border-radius: 50%;
  position: relative;
  bottom: 20px;
  right: 30px;
}
.im2{
  border-radius: 50%;
  position: relative;
  bottom: 20px;
  right: 30px;
}
.im3{
border-radius: 50%;
position: relative;
bottom: 35px;
right: 30px;
}
.ima{
  border-radius: 50%;
  position: relative;
  bottom: 20px;
  right: 25px;
  }